<div class="container">
  <div class="page-header">
    <% if @content.img_header.present?  %>
    <%= cl_image_tag @content.img_header.key %>
    <% end %>
    <h1 class="golden-background"><%= @content.title %></h1>
  </div>
  <p class="teaser"><%= @content.teaser %></p>
  <p><%= @content.body %> </p>

<!-- === Liste produits ou animations === -->
  <% if @content.id == 4 %>
    <%= render 'shared/animations' %>
  <% end %>
  <% if @content.id == 7 %>
    <%= render 'shared/products' %>
  <% end %>

<hr>
  <!-- === MENU ADMIN -->
  <% if user_signed_in? %>
    <% if current_user.admin == true %>
    <div class="row">
      <div class="col-8">
       <p>Créé le <%= @content.created_at %>, par <%= @content.user.firstname %> - Modifié le <%= @content.updated_at %></p>
        <p><%= @content.status %></p>
      </div>
      <div class="col-2">
      <%= button_to "Supprimer", content_path(@content),
                  method: :delete,
                  data: { confirm: "Veuillez confirmer la suppression !" },
                 :id => "delete", class:"btn btn-danger" %>
      </div>
      <div class="col-2">
        <%= button_to "Modifier", edit_content_path(@content),
            method: :get, class:"btn btn-primary" %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>


