<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Gestion des stocks</h1>
    </div>
    <div class="col-4">
      <%= link_to 'Nouveau mouvement de stock', new_stock_path, class:'btn btn-primary btn-right' %>
    </div>
  </div>
  <hr>

    <div class="row">
      <div class="col">
        <b>Création</b>
      </div>
      <div class="col-2">
        <b>Produit</b>
      </div>
      <div class="col">
        <b>Producteur</b>
      </div>
      <div class="col">
        <b>Date production</b>
      </div>
      <div class="col">
        <b>Quantité</b>
      </div>
      <div class="col">
        <b>+-</b>
      </div>
      <div class="col">
        &nbsp;
      </div>
    </div>
    <% @stocks.each do |c| %>
      <div class="row">
        <div class="col">
          <small><%= c.created_at.strftime("%d.%m.%Y") %></small>
        </div>
        <div class="col-2">
        <%= c.product.name %>
        </div>
        <div class="col">
          <%= c.producer %>
        </div>
        <div class="col">
          <%= c.production_date %>
        </div>
        <div class="col">
          <%= c.quantity %>
        </div>
        <div class="col">
          <% if c.operation == + %>
            <span class="color=#009900;"><%= c.operation %></span>
          <% else %>
            <span><%= c.operation %></span>
          <% end %>
        </div>
      <div class="col-1">
        <%= button_to "Modifier", edit_stock_path(c.id),
            method: :get, class:"btn btn-primary" %>
      </div>
      <div class="col-1">
              <%= button_to "Supprimer", stock_path(c.id),
                  method: :delete,
                  data: { confirm: "Veuillez confirmer la suppression !" },
                 :id => "delete", class:"btn btn-danger" %>
      </div>
      </div>
    <% end %>
</div>
