<div class="container">
  <h1>Modifier le compte utilisateur</h1>
  <hr>
<%= simple_form_for @user, url: user_path, method: :patch do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
    <%= f.input :firstname, required: true, label: "Prénom" %>
    <%= f.input :lastname, required: true, label: "Nom" %>
    <%= f.input :avatar, label: "Image de profil" %>
    <% if current_user.admin == true %>
    <%= f.input :editor, label: "Droits d'édition" %>
    <%= f.input :animator, label: "Animateur/Animatrice" %>
    <% end %>
  </div>
  <%= f.submit "Enregistrer", class: "btn btn-primary" %>

<% end %>
</div>
