<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Gestion des demandes de réservation</h1>
    </div>
    <div class="col-4">
      <%= link_to 'Ajouter un créneau', new_schedule_path, class:'btn btn-primary btn-right' %>
    </div>
  </div>
  <hr>

    <% @schedules.each do |s| %>
      <div class="row">
        <div class="col-2">
          <small><%= s.created_at.strftime("%d.%m.%Y") %></small>
        </div>
        <div class="col-4">
          <%= s.schedule_date %>
        </div>
        <div class="col-2">
          <%= s.status %>
        </div>
        <div class="col-2">
          <% s.activities.each do |a| %>
          <%= a.title %>
          <% end %>
        </div>
      <div class="col-1">
        <%= button_to "Modifier", edit_schedule_path(s.id),
            method: :get, class:"btn btn-primary" %>
      </div>
      <div class="col-1">
              <%= button_to "Supprimer", schedule_path(s.id),
                  method: :delete,
                  data: { confirm: "Veuillez confirmer la suppression !" },
                 :id => "delete", class:"btn btn-danger" %>
      </div>
      </div>
    <% end %>
</div>
