<div class="container margin-top">
    <div class="row">
    <div class="col-8">
      <h1 class="title-admin">Gestion des types d'activité</h1>
    </div>
    <div class="col-4">
      <%= link_to 'Ajouter un type d''activité', new_activity_type_path, class:'btn btn-primary btn-right' %>
    </div>
  </div>
  <hr>
    <% @activity_types.each do |t| %>
      <div class="row admin-row">
        <div class="col-1">
          <small><%= t.created_at.strftime("%d.%m.%Y") %></small>
        </div>
        <div class="col">
         <b><%= t.title %></b>
        </div>
        <div class="col-2">
          <%= t.status %>
        </div>
        <div class="col-4">
          <%= t.user.firstname %>
        </div>
      <div class="col-2">
        <%= link_to edit_activity_type_path(t.id), title:"Modifier", class: "btn btn-primary" do %>
          Modifier
        <% end %>
      </div>
      <div class="col-1">
              <%= button_to "Supprimer", activity_type_path(t.id),
                  method: :delete,
                  data: { confirm: "Veuillez confirmer la suppression !" },
                 :id => "delete", class:"btn btn-danger" %>
      </div>
      </div>
    <% end %>
</div>
