<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>Gestion des activités</h1>
    </div>
    <div class="col-4">
      <%= link_to 'Ajouter une activité', new_activity_path, class:'btn btn-primary btn-right' %>
    </div>
  </div>
  <hr>
    <div class="row">
      <div class="col">
        <b>Création</b>
      </div>
      <div class="col">
        <b>Type</b>
      </div>
      <div class="col">
        <b>Titre</b>
      </div>
      <div class="col">
        <b>Auteur</b>
      </div>
      <div class="col">
        <b>Statut</b>
      </div>
      <div class="col">
        &bpsn;
      </div>
    </div>
    <hr>
    <% @activities.each do |c| %>
      <div class="row">
        <div class="col">
          <small><%= c.created_at.strftime("%d.%m.%Y") %></small>
        </div>
        <div class="col">
          <% c.activitytypes.each do |t| %>
          <%= t.title %>
          <% end %>
        </div>
        <div class="col">
          <%= link_to c.title, activity_path(c.id) %>
        </div>
        <div class="col">
          <%= c.user.firstname %>
        </div>
        <div class="col">
          <%= c.status %>
        </div>
      <div class="col-1">
        <%= button_to "Modifier", edit_activity_path(c.id),
            method: :get, class:"btn btn-primary" %>
      </div>
      <div class="col-1">
              <%= button_to "Supprimer", activity_path(c.id),
                  method: :delete,
                  data: { confirm: "Veuillez confirmer la suppression !" },
                 :id => "delete", class:"btn btn-danger" %>
      </div>
      </div>
    <% end %>
</div>
