<div class="container margin-top">
  <h1>Créer une nouvelle activité</h1>
  <hr>
  <%= simple_form_for @activity, url: activities_path do |f| %>
  <%= f.association :tags, collection: @tags, as: :check_boxes, input_html: { multiple: true}, label: 'Rubrique(s)' %>

  <%= f.input :title, label: 'Titre' %>
  <%= f.input :teaser, label: 'Chapeau - Teaser' %>
  <%= f.label :corps_de_texte %>
  <%= f.rich_text_area :body, label: 'Corps de texte' %>
  <%= f.label :conditions_de_réservation %>
  <%= f.rich_text_area :booking_conditions, label: 'Conditions de réservation' %>
  <%= f.input :price, as: :float, label: 'Prix' %>
  <%= f.input :public, label: 'Public visé' %>
  <%= f.input :duration, label: "Durée de l'activité" %>
  <%= f.input :language, label: "Langue de l'activité" %>
  <%= f.input :links, label: 'Liens complémentaires' %>
  <%= f.input :img_header,as: :file, label: "Image pour l'entête de page"  %>
  <%= f.input :img_thumbnail, as: :file, label: 'Image pour les galleries'  %>
  <%= f.input :status, label: 'Statut', collection: ['draft', 'published', 'archived'] %>

  <%= f.submit "Enregistrer", class:"btn btn-primary" %>
  <% end %>
</div>
