<div class="container">
  <div class="page-header">
    <% if @activity.img_header.present?  %>
      <%= cl_image_tag @activity.img_header.key %>
    <% end %>
  </div>
  <h1 class="golden-background"><%= @activity.title %></h1>
  <p class="teaser"><%= @activity.teaser %></p>
  <p><%= @activity.body %> </p>
  <div class="golden-box">
    <h2>Informations pratiques</h2>
    <div class="row margin-left">
      <div class="col-2">
        <label>Prix</label>
      </div>
      <div class="col">
        <p><%= @activity.price %> €</p>
      </div>
    </div>
    <div class="row margin-left">
      <div class="col-2">
        <label>Durée</label>
      </div>
      <div class="col">
        <p><%= @activity.duration %> </p>
      </div>
    </div>
    <div class="row margin-left">
      <div class="col-2">
        <label>Langue</label>
      </div>
      <div class="col">
        <p><%= @activity.language %> </p>
      </div>
    </div>
    <div class="row margin-left">
      <div class="col-2">
        <label>Conditions de réservation</label>
      </div>
      <div class="col">
        <p><%= @activity.booking_conditions %> </p>
      </div>
    </div>
      <% if @activity.links.present? %>
    <div class="row margin-left">
        <div class="col-2">
          <label>Plus d'infos</label>
        </div>
        <div class="col">
          <p><%= @activity.links %> </p>
        </div>
    </div>
      <% end %>
    </div>


  <hr>
    <% if user_signed_in? %>
      <% if current_user.admin == true %>
      <div class="row ">
        <div class="col-8">
         <p>Créé le <%= @activity.created_at %>, par <%= @activity.user.firstname %> - Modifié le <%= @activity.updated_at %></p>
         <p><%= @activity.status %></p>
        </div>
        <div class="col-2">
        <%= button_to "Supprimer", activity_path(@activity),
                    method: :delete,
                    data: { confirm: "Veuillez confirmer la suppression !" },
                   :id => "delete", class:"btn btn-danger" %>
        </div>
        <div class="col-2">
          <%= button_to "Modifier", edit_activity_path(@activity),
              method: :get, class:"btn btn-primary" %>
        </div>
      </div>
      <% end %>
    <% end %>

</div>
