<div class="container">
  <h1 class="content-title"><%= @activity.title %></h1>
  <% if @activity.img_header.present?  %>
    <p><%= cl_image_tag @activity.img_header.key, height: 300, width: 400, crop: :fill %></p>
  <% end %>
    <% if @activity.img_thumbnail.present? %>
  <p><%= cl_image_tag @activity.img_thumbnail.key, height: 200, width: 200, crop: :fill %></p>
  <% end %>
  <p class="teaser"><%= @activity.teaser %></p>
  <p><%= @activity.body %> </p>
  <p><%= @activity.price %> </p>
  <p><%= @activity.duration %> </p>
  <p><%= @activity.language %> </p>
  <p><%= @activity.booking_conditions %> </p>
  <p><%= @activity.links %> </p>


<hr>
  <% if user_signed_in? %>
    <% if current_user.admin == true %>
    <div class="row">
      <div class="col-8">
       <p>Créé le <%= @activity.created_at %>, par <%= @activity.user.firstname %> - Modifié le <%= @activity.updated_at %></p>
       <p><%= @activity.status %></p>
      </div>
      <div class="col-2">
      <%= button_to "Supprimer", activity_path(@activity),
                  method: :delete,
                  data: { confirm: "Veuillez confirmer la suppression !" },
                 :id => "delete", class:"btn btn-danger" %>
      </div>
      <div class="col-2">
        <%= button_to "Modifier", edit_activity_path(@activity),
            method: :get, class:"btn btn-primary" %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>


