<div class="container">
  <h1>Modifier : <i><%= @product.name %></i></h1>
  <hr>
  <%= simple_form_for @product, url: product_path, method: :patch do |c| %>
    <%= c.input :product_type, label: 'Type de produit' %>
    <%= c.input :name, label: 'Nom du produit' %>
    <%= c.input :price, label: 'Prix' %>
    <%= c.label :description %>
    <%= c.rich_text_area :description %>
    <%= c.input :images, as: :file, label: "Photos du produit"  %>
    <p><%= cl_image_tag @product.images, height: 100, width: 100, crop: :fill %></p>
    <%= c.input :img_thumbnail, as: :file, label: 'Image pour les galleries'  %>
    <% if @product.img_thumbnail.present? %>
    <p><%= cl_image_tag @product.img_thumbnail.key, height: 100, width: 100, crop: :fill %></p>
    <% end %>


  <%= c.submit "Enregistrer", class:"btn btn-primary" %>
  <% end %>
</div>
