<div class="container">
  <h1 class="golden-background"><%= @product.name %></h1>
  <div class="row">
    <div class="col-lg-4">
      <div class="product-img">
        <div class="round-img">
          <% if @product.images.present? %>
            <p><%= cl_image_tag @product.images.key, height: 120, width: 120, crop: :fill %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <p><%= @product.description %> </p>
      <p><label>Prix TTC :</label>&nbsp; <%= @product.price %> €</p>
        <%= button_to "Acheter", "#", class:"btn btn-primary btn-gold" %>
    </div>
  </div>


  <% if user_signed_in? %>
    <% if current_user.admin == true %>
    <div class="row">
      <div class="col-8">
       <p>Créé le <%= @product.created_at %>, par <%= @product.user.firstname %> - Modifié le <%= @product.updated_at %></p>
      </div>
      <div class="col-2">
      <%= button_to "Supprimer", product_path(@product),
                  method: :delete,
                  data: { confirm: "Veuillez confirmer la suppression !" },
                 :id => "delete", class:"btn btn-danger" %>
      </div>
      <div class="col-2">
        <%= button_to "Modifier", edit_product_path(@product),
            method: :get, class:"btn btn-primary" %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>



</div>
